
@font-face {
  font-family: 'VNF-ChampionScriptPro';
  src: url('VNF-ChampionScriptPro.eot?#iefix') format('embedded-opentype'),  url('VNF-ChampionScriptPro.woff') format('woff'), url('VNF-ChampionScriptPro.ttf')  format('truetype'), url('VNF-ChampionScriptPro.svg#VNF-ChampionScriptPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
